---
title: "Society of Mathematical Biology"
layout: default
pagination:
    enabled: false
description: "The Society for Mathematical Biology - e-Conference 2020."
---


<div class="container">
	
	<div class="col-md-12 main-loop">
	    <div class="row">
	        <div class="col-md-12  text-center">
		        <h1 class="mb-3">SMB 2020 Annual Meeting</h1>
		        <h2 class="mb-3">August 17 - 20, 2020</h2>
		        <div class="row">
			        <div class="col-md-4 offset-md-4">
								<a href="https://www.smb.org/"><img class="w-100" src="{{site.baseurl}}/assets/images/smb-motion-logo.gif" alt="SMB Logo"></a>        
			        </div>
		        </div>
		        <div class="row">
			        <div class="col-12 text-center">
			        	</br>
                <p class="mb-3 lead">The Society of Mathematical Biology will host its annual meeting online during the week of August 17 through 20, 2020.</p>	 
                <p class="mb-3 lead">Are you a member of SMB? If not please support mathematical biology and your career by <a href="https://www.smb.org/application/" style="color: #3076ed;">joining the society</a> today!</p>	    	        
			        </div>
			      </div>
	        </div>
	    </div>
	</div>
	
    
{% if page.url == "/" %} 
<div class="jumbotron jumbotron-fluid jumbotron-home pt-0 pb-0 mt-3 mb-2rem bg-lightblue position-relative">
    <div class="pl-4 pr-0 h-100 tofront">
        <div class="row justify-content-between">
            <div class="col-md-6 pt-6 pb-6 pr-lg-4 align-self-center">
                <h1 class="mb-3">SMB goes virtual</h1>
                <p class="mb-3 lead">Join us for a society first - hosting the Society of Mathematical Biology conference entirely online.</p>
                
                <p> Through partnership with <a href="https://www.mathdept.org/">MathDept.org</a>, we will utilize the following platforms to create an immersive conference experience.</p>

								<ul>
									<li><strong><a href="{{site.baseurl}}/logistics">Sococo</a></strong> for poster sessions, networking, and socializing</li>
									<li><strong>Zoom</strong> for plenary and minisymposium talks</li>
									<li><strong>Slack</strong> for general announcements and messaging</li>
								</ul>  
            </div> 
							<a href="{{site.baseurl}}/logistics" class="col-md-6 d-none d-md-block pr-0" style="background: url({{site.baseurl}}/assets/images/sococo-classroom.png) no-repeat center center;background-size:cover;"></a>    
            
        </div>
        
        
        
        

    </div>
</div>
{% endif %} <!--endif page url is / -->

    <div class="row mt-3 d-md-none">  
	    <div class="col-md-12">
		    <div class="row">
	        <div class="col-12">
		        {% if page.url == "/" %}
							<a href="{{site.baseurl}}/logistics"><img class="w-100" src="./assets/images/sococo-classroom.png" alt="SMB Logo" style="margin-top: -50px;"></a>
						{% else %}
							<a href="{{site.baseurl}}/logistics"><img class="w-100" src="../assets/images/sococo-classroom.png" alt="SMB Logo" style="margin-top: -50px;"></a>
						{% endif %}
		        
	        </div>
		    </div>
			</div>
		</div>
  
    
	<div class="row mt-3">   
		<div class="col-md-12 main-loop">
			<h4 class="font-weight-bold spanborder"><span>Conference Information</span></h4>
	    <div class="row main-font">
        <div class="col-md-12">				        
					<p>The joint Annual Meeting between the Society for Mathematical Biology and the European Society for Mathematical Biology at Heidelberg has been postponed. However, the Board of Directors of the Society for Mathematical Biology has decided to organize a virtual meeting, eSMB 2020, between  August 17-20, 2020. The meeting will be held between 8.30 am and 5.00 pm US Eastern Time Zone to maximize the participation of people across the world. </p>
					<p>We are inviting all the SMB Subgroup to organize a Mini-symposium, Poster Section and invite a Keynote Speaker. Independent submission for oral or poster presentations will also be accepted. The eSMB 2020 organizing committee will identify the plenary speakers for the annual meeting, and will organize a Mini-symposium and a Poster Session outside the scope of the SMB Subgroups.</p>		      		        
        
        <p>While COVID-19 continues spreading across the world, the Society for Mathematical Biology is keeping the health and safety of our members as our top priority. To reduce or slow the spread of infection, we will hold our 2020 Annual Meeting virtually between August 17-20, 2020. We acknowledge that many are facing challenging personal and/or professional circumstances, but we hope that our Virtual Annual Meeting will allow our community to stay connected, share research, and support each other.</p>
        </div>
	    </div>
			</br>
			
			
			        
	    <h4 class="font-weight-bold spanborder"><span>Conference Schedule</span></h4>
	    <div class="row main-font">
        <div class="col-md-12">    
	        <p>* all times are listed in US Eastern Time Zone. This schedule is tentative and subject to change.</p>
	        
        </br>
        </br>
	        {% include full_schedule.html %}
	        	
					</div>
	    </div>
	    </br>
	    </br>
	    </br>
	    
	    <h4 class="font-weight-bold spanborder"><span>Plenary Speakers</span></h4>
	    <div class="row main-font">
        <div class="col-md-12"> 
	        <ol class="list-featured">
		        <div class="row">
			        <div class="col-md-10 offset-1">
				        <div class="row">
					        <div class="col-md-6">				        
						        <li class="mb-4">
						          <span>
								          <a href="https://www.biology.washington.edu/people/profile/carl-bergstrom">
								              <h6 class="font-weight-bold" style="margin-bottom: -1px;">
								                  Carl Bergstrom
								              </h6>
								          </a>
						              <span class="d-block text-muted">
						              <span class="catlist text-capitalize text-muted smoothscroll">University of Washington, <a href="https://twitter.com/CT_Bergstrom">@CT_Bergstrom</a><span class="sep"></span></span>
						              </span>
													</br>
						              <img src="{{site.baseurl}}/assets/images/bergstrom.jpg" class="rounded-circle" alt="Carl Bergstrom" style="height: 200px;">
						          </span>
						        </li>
					        </div>
					        <div class="col-md-6">
								        <li class="mb-4">
						          <span>
								          <a href="https://www.peircecottlerlab.com/">
								              <h6 class="font-weight-bold" style="margin-bottom: -1px;">
								                  Shayn Peirce-Cottler
								              </h6>
								          </a>
						              <span class="d-block text-muted">
						              <span class="catlist text-capitalize text-muted smoothscroll">University of Virginia, <a href="https://twitter.com/PeirceLab">@PeirceLab</a><span class="sep"></span></span>
						              </span>
						              </br>
						              <img src="{{site.baseurl}}/assets/images/peirce.png" class="rounded-circle" alt="Shayn Peirce-Cottler" style="height: 200px;">
						          </span>
						        </li>
					        </div>
					      </div>				        
			        </div> 
			      </div> <!-- end row of plenary speakers -->
			    </ol>
				</div>
			</div>
			
			</br>
			</br>
			</br>
			
			
			<h4 class="font-weight-bold spanborder"><span>Subgroup Keynote Speakers</span></h4>
	    <div class="row main-font">
        <div class="col-md-12"> 
				  <ol class="list-featured">
				    <!-- PLATFORM SPEAKERS --> 
				    <div class="row">
			        <div class="col-md-10 offset-1">
				        <div class="row">
					        <div class="col-md-6">
						        <li class="mb-4">
						          <span>
								          <a href="https://ysu.edu/faculty-experts/prieto-langarica-alicia">
								              <h6 class="font-weight-bold" style="margin-bottom: -1px;">
								                  Alicia Prieto Langarica
								              </h6>
								          </a>
						              <span class="d-block text-muted">
						              <span class="catlist text-capitalize text-muted smoothscroll">Youngstown State University, <a href="https://twitter.com/AliciaPL25">@AliciaPL25</a><span class="sep"></span></span>
						              </span>
						              </br>
						              <img src="{{site.baseurl}}/assets/images/prieto.jpeg" class="rounded-circle" alt="Alicia Prieto Langarica" style="height: 200px;">
						          </span>
						        </li>
						      </div>
					        <div class="col-md-6">
						        <li class="mb-4">
						          <span>
								          <a href="https://en.wikipedia.org/wiki/David_Ho">
								              <h6 class="font-weight-bold" style="margin-bottom: -1px;">
								                  David Ho
								              </h6>
								          </a>
						              <span class="d-block text-muted">
						              <span class="catlist text-capitalize text-muted smoothscroll">Columbia University<span class="sep"></span></span>
						              </span>
						              </br>
						              <img src="{{site.baseurl}}/assets/images/ho.jpg" class="rounded-circle" alt="David Ho" style="height: 200px;">
						          </span>
						        </li>
						        
						      </div>
					      </div>				        
			        </div> 
			      </div> <!-- end row of plenary speakers -->
				        
				    </br>
				    
				    <!-- PLATFORM SPEAKERS --> 
				    <div class="row">
			        <div class="col-md-10 offset-1">
				        <div class="row">
					        <div class="col-md-6">				        
						        <li class="mb-4">
						          <span>
								          <a href="https://www.gla.ac.uk/researchinstitutes/cancersciences/staff/robertinsall/">
								              <h6 class="font-weight-bold" style="margin-bottom: -1px;">
								                  Robert Insall
								              </h6>
								          </a>
						              <span class="d-block text-muted">
						              <span class="catlist text-capitalize text-muted smoothscroll">University of Galsgow, <a href="https://twitter.com/robinsall">@robinsall</a>
				<span class="sep"></span></span>
						              </span>
						              </br>
						              <img src="{{site.baseurl}}/assets/images/insall.jpg" class="rounded-circle" alt="Robert Insall" style="height: 200px;">
						          </span>
						        </li>
						      
						      </div>
					        <div class="col-md-6">
						        
						        <li class="mb-4">
						          <span>
								          <a href="https://faculty.eeb.ucla.edu/amarasekare/index.html">
								              <h6 class="font-weight-bold" style="margin-bottom: -1px;">
																Priyanga Amarasekare
								              </h6>
								          </a>
						              <span class="d-block text-muted">
						              <span class="catlist text-capitalize text-muted smoothscroll">University of California Los Angeles<span class="sep"></span></span>
						              </span>
						              </br>
						              
						              <img src="{{site.baseurl}}/assets/images/ama.png" class="rounded-circle" alt="Priyanga Amarasekare" style="height: 200px;">
						          </span>
						        </li>
						      </div>
					      </div>				        
			        </div> 
			      </div> <!-- end row of plenary speakers -->
			      
			      </br>
				        
				    <!-- PLATFORM SPEAKERS --> 
				    <div class="row">
			        <div class="col-md-10 offset-1">
				        <div class="row">
					        <div class="col-md-6">
						        <li class="mb-4">
						          <span>
								          <a href="https://bildlab.org/">
								              <h6 class="font-weight-bold" style="margin-bottom: -1px;">
																Andrea Bild 
								              </h6>						              
								          </a>
						              <span class="d-block text-muted">
						              <span class="catlist text-capitalize text-muted smoothscroll">City of Hope, <a href="https://twitter.com/AndreaBildLab">@AndreaBildLab</a><span class="sep"></span></span>
						              </span>
						              </br>
						              <img src="{{site.baseurl}}/assets/images/bild.jpg" class="rounded-circle" alt="Andrea Bild" style="height: 200px;">
						          </span>
						        </li>
				        	</div>

					        <div class="col-md-6">
						        <li class="mb-4">
						          <span>
								          <a href="https://biology.mit.edu/profile/adam-c-martin/">
								              <h6 class="font-weight-bold" style="margin-bottom: -1px;">
																Adam Martin
								              </h6>
								          </a>
						              <span class="d-block text-muted">
						              <span class="catlist text-capitalize text-muted smoothscroll">Massachusetts Institute of Technology, <a href="https://twitter.com/martinlabmit">@martinlabmit</a><span class="sep"></span></span>
						              </span>
						              </br>
						              <img src="{{site.baseurl}}/assets/images/martin.jpg" class="rounded-circle" alt="Adam Martin" style="height: 200px;">
						          </span>
						        </li>
						        
						      </div>
					      </div>				        
			        </div> 
			      </div> <!-- end row of plenary speakers -->
			      
			      
			      <!-- PLATFORM SPEAKERS --> 
				    <div class="row">
			        <div class="col-md-10 offset-1">
				        <div class="row">
					        <div class="col-md-6">
						        <li class="mb-4">
						          <span>
								          <a href="http://www.math.uwaterloo.ca/~sacampbe/">
								              <h6 class="font-weight-bold" style="margin-bottom: -1px;">
																Sue Ann Campbell
								              </h6>						              
								          </a>
						              <span class="d-block text-muted">
						              <span class="catlist text-capitalize text-muted smoothscroll">University of Waterloo<span class="sep"></span></span>
						              </span>
						              </br>
						              <img src="{{site.baseurl}}/assets/images/campbell.jpg" class="rounded-circle" alt="Andrea Bild" style="height: 200px;">
						          </span>
						        </li>
				        	</div>

					        <div class="col-md-6">
						        <li class="mb-4">
						          <span>
								          <a href="https://www.ntdmodelling.org/">
								              <h6 class="font-weight-bold" style="margin-bottom: -1px;">
																Deirdre Hollingsworth
								              </h6>
								          </a>
						              <span class="d-block text-muted">
						              <span class="catlist text-capitalize text-muted smoothscroll">Oxford Big Data Institute, <a href="https://twitter.com/DeirdreHoll">@DeirdreHoll</a><span class="sep"></span></span>
						              </span>
						              </br>
						              <img src="{{site.baseurl}}/assets/images/deirdre.jpg" class="rounded-circle" alt="Adam Martin" style="height: 200px;">
						          </span>
						        </li>
						        
						      </div>
					      </div>				        
			        </div> 
			      </div> <!-- end row of plenary speakers -->
				        				    
		        
	        </ol>

					
        </div>
	    </div>
	    </br>

			<h4 class="font-weight-bold spanborder"><span>Logistics & Registration</span></h4>
	    <div class="row main-font">
        <div class="col-md-12">
				<p>At the same time, we are excited that the 2020 Annual Meeting will be the inaugural SMB Virtual Meeting. Our communities have long been leaders in sharing research online, and this opportunity is another significant step in that direction.  The Society has selected a third-party virtual meeting platform (<a href="https://www.sococo.com/">Sococo</a> and <a href="https://www.mathdept.org/">MathDept.org</a>) that seamlessly supports live video presentations of sessions, recording of and technical support for those sessions, pre-recorded talks, poster sessions, networking and socializing. The site also will allow small groups of participants to interact in real-time directly with each other.</p>


				<p>The Society for Mathematical Biology is waiving registration fees for our first virtual annual meeting.  <strong>You must still register for the meeting through the <a href="https://smb.wildapricot.org/event-3878590">registration website</a>, for a $25 fee.</strong> You can support the dissemination of research and education at the interface between the mathematical and biological sciences by a small gift of $25 to partially cover the third-party virtual platform cost for your participation. You can make a bigger impact for young mathematical biologists with two other registration options. You can give $50 to support your participation and the participation of a young mathematical biologist at this meeting. Alternatively, you can give $100 to partially support a society travel award to help a student participate at our 2021 Annual Meeting.</p>



				<p>The COVID-19 pandemic is seriously impacting the finances of research and higher education, and academic societies. We need your help, because every young mathematical biologist requires our support and the opportunity to participate in our annual meetings. Thank you for considering joining us in this Virtual Annual Meeting, and your support for mathematical biology.</p>



				<p>If you are interested in attending certain talks, but do not want to participate in the full conference, please indicate so in the registration form. We will ensure that you receive Zoom links for conference talks, but will not register you in the Sococo platform. Since SMB will be paying approximately $25 for each registrant's Sococo access, it is helpful for us to know ahead of time if you do not intend to use the platform.</p>



				<p>If you are submitting an abstract that is not affiliated with an SMB subgroup, please do so in the registration form. If you would like to submit an abstract affiliated with an SMB subgroup, please contact your subgroup chair(s).</p>
        
        </div>
	    </div>
	    
	    </br>
	    
	    <div class="row main-font">
        <div class="col-md-5 offset-1">
	        <a href="./conference-announcement">
		        <div class="card" style="background-color: #e8f3ec; color: black;">
						  <div class="card-body">
						    <h5 class="card-title">Read the conference announcement</h5>
						    <h6 class="card-subtitle mb-2 text-muted">by Sandy Anderson, SMB President</h6>
						    <p class="card-text">Never before in the history of the Society of mathematical biology has the importance of mathematical modelling been more prominent in the public eye...</p>						   
								<span class="btn btn-my-dark">Read more...</span>	 
						  </div>
						</div>
					</a>
        </div>
        <div class="col-md-5">
	        <a href="./registration">
		        <div class="card" style="background-color: #e8f3ec; color: black;">
						  <div class="card-body">
						    <h5 class="card-title">Register for SMB 2020</h5>
						    <h6 class="card-subtitle mb-2 text-muted">$25 registration fee</h6>
						    <p class="card-text">To register for the SMB Conference, please fill out the form below. Registrants can be 1) presenters or 2) participants. Registration fees are $25.</p>						   
								<span class="btn btn-my-dark">Registration</span>	 
						  </div>
						</div>
					</a>
        </div>
	    </div>
			
			</br>
	    </br>


	    
	    <h4 class="font-weight-bold spanborder"><span>Pre-conference Mentoring Program</span></h4>
	    <div class="row main-font">
        <div class="col-md-12">  
					          
          
          <p>The mentoring workshop will be held the day before the e-conference on Sunday August 16, 2020 from 1:00 - 5:00 PM for the US Eastern Time Zone. If you have not yet registered for the mentoring workshop, you may do so by contacting John Nardini at <a href="mailto:jtnardin@ncsu.edu">jtnardin@ncsu.edu</a>.  This workshop will consist of the following speakers and talks:</p>

	        <p>* all times are listed in US Eastern Time Zone. This schedule is tentative and subject to change.</p>




					<table class="table table-striped">
					  <thead>
					    <tr>
					      <th scope="col">Time</th>
					      <th scope="col">Speaker</th>
					      <th scope="col">Scheduled Event</th>
					    </tr>
					  </thead>
					  <tbody>
					    <tr>
					      <th scope="row">1:00pm</th>
					      <td>Robert Smith?</td>
					      <td>Introduction</td>
					    </tr>
					    <tr>
					      <th scope="row">1:00–1:30pm</th>
					      <td>Alexandra Hogan</td>
					      <td>How to Attend a Virtual Conference</td>
					    </tr>
					    <tr>
					      <th scope="row">1:30–2:00pm</th>
					      <td>Rebecca Everett</td>
					      <td>Things I Wish I'd Known as a Postdoc</td>
					    </tr>
					    <tr>
					      <th scope="row">2:00–3:30pm</th>
					      <td>Robert Smith?</td>
					      <td>How to Get a Tenure-Track Job</td>
					    </tr>
					    <tr>
					      <th scope="row">3:30–4:00pm</th>
					      <td>Meghan Burke</td>
					      <td>The Tenure Process</td>
					    </tr>
					    <tr>
					      <th scope="row">4:00–5:00pm</th>
					      <td>Helen Moore <em>(Applied Biomath)</em> </br> Marc Strauss <em>(Springer-Nature)</em> </br> Susan Massey <em>(Systems Oncology)</em> </br>   Cheryl Zapata-Allegro <em>(BioFire Diagnostics)</em>				      
					      </td>
					      <td>Panel discussion </br> <em>(Moderated by Rebecca Everett)</em></td>
					    </tr>
					  </tbody>
					</table>

					
					
          
        </div>
	    </div>
		</div>
	</div>
</div>