---
title: "Society of Mathematical Biology"
layout: default
pagination:
    enabled: false
description: "The Society for Mathematical Biology - e-Conference 2020."
day: "Monday"
ms1: "MS1"
ms2: "MS2"
ct1: "CT1"
ms1time: "9:30-11:00am"
ms2time: "11:15am-12:45pm"
ct1time: "1:30-2:30pm"
postertime: "2:30-3:30pm"
---


<div class="container">
	
	<div class="col-md-12 main-loop">
	    <div class="row">
	        <div class="col-md-12 text-center">
		        
					
					<h1 class="mb-3">Conference Schedule</h1>
					
					
					<h4 class="mb-3">Pre-conference Mentoring Program</h4>
					<p class="text-left">The mentoring workshop will be held the day before the e-conference on Sunday August 16, 2020 from 1:00 - 5:00 PM for the US Eastern Time Zone (EDT). If you have not yet registered for the mentoring workshop, you may do so by contacting John Nardini at <a href="mailto:jtnardin@ncsu.edu">jtnardin@ncsu.edu</a>.  This workshop will consist of the following speakers and talks:</p>
					
		        
		        <div class="row">
			        <div class="col-md-4 offset-md-4">								
							  <ul class="pagination">
							    <li class="page-item" ><a class="page-link" style="color:#000000 !important;" href="{{site.baseurl}}/sunday">Pre-conference Mentoring Program</a></li>
							  </ul>			        
			        </div>
		        </div>
		        
						</br>
		        </br>

						<h4 class="mb-3">Conference Overview</h4>
						<p>* all times are listed in US Eastern Time Zone (EDT). This schedule is tentative and subject to change. Click to view more details.</p>

						{% include full_schedule.html %}
		       	
		        </br>
		        </br>
		        
		        <div class="row">
			        <div class="col-md-5 offset-md-3">								
							  {% include schedule_menu.html %}

								<p>The conference schedule is posted by day, above. Poster abstracts will be posted soon.</p>
				        
			        </div>
		        </div>
		        
		        
		        <h4 class="mb-3">Industry Sponsors</h4>
						<p class="text-left">
								Thinking about a job in industry, or looking to get your work published? Don't forget to visit our industry sponsors in the SMB Welcome/Industry space! See the flyers below for their schedules.
						</p>
						<p class="text-left">
								<a href="https://drive.google.com/file/d/178azs38iVv7_LT38i147ME0MQveYkg7H/view">DILIsym (click here)</a></br>
								<a href="https://drive.google.com/file/d/1lhYRFlpiD3mJ4WGfBuJEV3AVsskGLsfB/view">Merck (click here)</a></br>
								<a href="https://drive.google.com/file/d/1tupPk8TWb6okwksREjd5F5rcWZ5RlKtu/view">Elsevier (click here)</a></br>
								<a href="https://documentcloud.adobe.com/link/review?uri=urn:aaid:scds:US:ec8a5ad3-eaf5-456f-91c7-2131492e0224#pageNum=1">Wiley (click here)</a></br>
								<a href="https://drive.google.com/file/d/1gqPfc0I0tftb3RxeCJ2W01-VhO5xlT4-/view">Springer (click here)</a></br>
								In addition, Applied BioMath will be staffing their room 1pm-3pm Mon-Wed.</br>							
						</p>
		        
		        
	        </div>
	    </div>
	</div>
</div>


















