---
layout: default
---

{% assign author = site.authors[page.author] %}
<div class="container">
<div class="jumbotron jumbotron-fluid mb-3 pl-0 pt-0 pb-0 bg-white position-relative">
		<div class="h-100 tofront">
			<div class="row {% if page.image %} justify-content-between {% else %} justify-content-center {% endif %}">
				<div class="{% if page.image %} col-md-6 {% else %} col-md-8 {% endif %} pr-0 pr-md-4 pt-4 pb-4 align-self-center">
					<p class="text-uppercase font-weight-bold">
              <span class="catlist">
              	<span class="text-{{page.subgroup}}">Poster</span>						
              </span>
					</p>
					<h1 class="display-4 mb-4 article-headline">{{ page.title }}</h1>
					<div class="d-flex align-items-center">
                        {% if author.avatar %}
                        <img class="rounded-circle" src="../{{author.avatar}}" alt="{{author.name}}" width="70"/>
                        {% endif %}
						<small class="ml-3"> {{ author.name }} <span><a target="_blank" href="{{ author.twitter }}" class="btn btn-outline-success btn-sm btn-round ml-1">Follow</a></span>
                            <span class="text-muted d-block mt-1">2:30 - 3:30pm EDT, Monday - Wednesday</span>
						</small>
					</div>
				</div>
                {% if page.image %}
				<div class="col-md-6 pr-0 align-self-center">
					<img class="rounded" src="../{{ page.image }}" alt="{{ page.title }}">
				</div>
                {% endif %}
			</div>
		</div>
	</div>
</div>





<div class="container-lg pt-4 pb-4">
	<div class="row justify-content-center">
        
        <!-- Share -->
				<div class="col-lg-2 pr-4 mb-4 col-md-12">
					<div class="sticky-top sticky-top-offset text-center">
						<div class="text-muted">
							Share this
						</div>
						<div class="share d-inline-block">
							<!-- AddToAny BEGIN -->
							<div class="a2a_kit a2a_kit_size_32 a2a_default_style">
								<a class="a2a_dd" href="https://www.addtoany.com/share"></a>
								<a class="a2a_button_facebook"></a>
								<a class="a2a_button_twitter"></a>
							</div>
							<script async src="https://static.addtoany.com/menu/page.js"></script>
							<!-- AddToAny END -->
						</div>
					</div>
				</div>
        
        
		<div class="col-md-12 col-lg-10">
			
						
			
			{% if page.presenter %}
	    	<h4>{{ page.presenter }}</h4>
	    	{% if page.institution %} 
	    		<em>{{ page.institution }}</em>
	    	{% endif %}
	    	
	    	{% if page.title %}
	    		{% if page.title == "" %} 
	    			<h6>"Title to be determined."</h6>
	    		{% else %}
	    			<h6>"{{ page.title }}"</h6>
	    		{% endif %}
	    	{% endif %}
	    	
	    	
	    	{% if page.abstract %}
	    		<article class="article-post text-justify" style="font-size:12px;">
		    		{% if page.abstract == "" %} 
		    			Abstract to be determined. Please check back later.
		    		{% else %}
		    			{{ page.abstract }}
		    		{% endif %}
	    		</article>
	    	{% endif %}
				
	    {% endif %}
	    	    
	      
			<!-- Author Box -->
      {% if page.author %}				
			<div class="row mt-5">
				<div class="col-md-2 align-self-center">
                       {% if author.avatar %}
                      <img class="rounded-circle" src="../{{author.avatar}}" alt="{{author.name}}" width="90"/>
                      {% endif %} 
				</div>
				<div class="col-md-10">		
                      <h5 class="font-weight-bold">Hosted by {{ author.name }} {% if author.twitter %}<span><a target="_blank" href="{{ author.twitter }}" class="btn btn-outline-success btn-sm btn-round ml-2">Follow</a></span>{% endif %}</h5>
					{{ author.bio }}					
				</div>
			</div>				
      {% endif %}
      
      <!-- Comments -->
      {% if page.comments != false %}
          {% include comments.html %}
      {% endif %}
            
		</div>
        
        
	</div>
</div>



<!-- Alertbar Prev/Next -->
<!--
<div class="alertbar">
    <div class="container">
        <div class="row prevnextlinks small font-weight-bold">
          {% if page.previous.url %}
            <div class="col-md-6 rightborder pl-0">
                <a class="text-dark" href="..{{ page.previous.url }}">{% if page.previous.image %} <img height="30px" class="mr-1" src="../{{page.previous.image}}"> {% endif %} {{page.previous.title}}</a>
            </div>
          {% endif %}
          {% if page.next.url %}
            <div class="col-md-6 text-right pr-0">
                <a class="text-dark" href="..{{ page.next.url }}"> {{page.next.title}} {% if page.next.image %} <img height="30px" class="ml-1" src="../{{page.next.image}}"> {% endif %}</a>
            </div>
          {% endif %}
        </div>
    </div>
</div>
-->
